@import "tailwindcss";


@theme {
  /* Fonts */
  --font-primary: 'Inter', sans-serif;
  --font-heading: 'Brown Pro', Calibri, Helvetica, Arial, sans-serif;
  /* --enfold-font-family-body: 'brown-pro',  */

  /* Colors */
  --color-primary-100: #28BBBB;
  --color-secondary: #333333;
  --color-accent: #FF9900;

  /* Others */
  --border-radius: 12px;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}